@mixin flex(
  $flex-horiz: null,
  $flex-vert: null,
  $flex-dir: null,
  $flex-cont: null
) {
  display: flex;
  justify-content: $flex-horiz;
  align-items: $flex-vert;
  flex-direction: $flex-dir;
  align-content: $flex-cont;
}
