@forward './color';
@forward './shadow';
@forward './transition';

html {
  @include font(14px, 500, 1.6, 0.04em, $fontFamily-base);

  color: var(--color-text-primary);

  @include mq(md) {
    @include font(16px);
  }
}
